<div class="form-group row">
<div class="col-xs-2">
    <label for="sellAfterIterations">Sell after iterations</label>
    <input type="text" class="form-control" id="sellAfterIterations" [(ngModel)]="params.sellAfterIterations" name="sellAfterIterations">
</div>
<div class="col-xs-2">
        <label for="days">No. of days</label>
        <input type="text" class="form-control" id="days" [(ngModel)]="params.days" name="days">
</div>

<div class="col-xs-2">
        <label for="days">minBuyConfidence</label>
        <input type="text" class="form-control" id="minBuyConfidence" [(ngModel)]="params.minBuyConfidence" name="minBuyConfidence">
</div>

<div class="col-xs-2">
    <label for="modelNames">Model</label>
    <select id="model" [(ngModel)]="selectedModel">
        <option *ngFor="let modelName of context.modelNames.modelNames" value="{{modelName}}">{{modelName}}</option>
    </select>
</div>
</div>
<div style="padding:10px">
    <button [disabled]="isStartSimulationBtnDisabled" class="btn-lg btn-danger" (click)="startSimulation()">Start simulation</button>
</div>
<p style="color:green">Status: <b>{{status}}</b></p>

<ngx-charts-line-chart
[view]="view"
[scheme]="colorScheme"
[results]="metrics"
[gradient]="gradient"
[xAxis]="showXAxis"
[yAxis]="showYAxis"
[legend]="showLegend"
[showXAxisLabel]="showXAxisLabel"
[showYAxisLabel]="showYAxisLabel"
[xAxisLabel]="xAxisLabel"
[yAxisLabel]="yAxisLabel"
[autoScale]="autoScale"
(select)="onSelect($event)">
</ngx-charts-line-chart>

<textarea id="txtLogs" rows="20" cols="80">{{getLogs()}}</textarea>